body{
  background-image: linear-gradient(to bottom,cadetblue, pink,white);
}
.heading{
  text-align: center;
  
}
.form{
  text-align: center;
}
.input{
  border-radius: 20px;
  border: 2px solid ;
  height: 30px;
  width: 200px;
  
}
.button{
  background-color: aqua;
  width: 120px;
  height: 30px;
  border-radius: 23px;
  font-weight: 500;
}
.label{
  font-size: x-large;
  font-weight: 500;
}
.storedata{
  border: 4px solid brown;
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  margin: 25px;
}